body{
  font-family: "Garuda";
  font-size: 8pt;
}

.table_bordered{
  border: 1px solid #000;
  margin-bottom: 10px;
}
.table_bordered td{
  border:0.5px solid #000;
  padding: 3px;
}

.cbc { background-image: url("../imgs/cbc.jpg"); } 
.elyte { background-image: url("../imgs/elyte.jpg"); }

